<!-- Sidebar -->
<div id="sidebar-wrapper">
  <div class="dashboard-principal-header">
    <div class="dashboard-principal-logo col-xs-12">
      <a class="dashboard-principal-logo-link" href="/">
        <%= image_tag 'logo.png', alt:'WEBRES STUDIO', class:'dashboard-principal-logo-ico' %>
      </a>
    </div>
  </div>
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
        <a href="#" class="nav-icon-box">
          <span class="nav-icon-user"><%= fa_icon "user-circle-o" %>Hello <%#= current_user.name %>!</span>
        </a>
    </li>
    <li>
        <%= link_to dashboard_path, class:'nav-link' do %>
          <%= fa_icon "home" %> <span class="nav-link-name">Home</span>
        <% end %>
    </li>
    <li>
    <% if current_user %>
      <%= link_to destroy_user_session_path, method: 'delete', class:'nav-link' do %>
        <%= fa_icon "sign-out" %> <span class="nav-link-name">Cerrar Sesión</span>
      <% end %>
    <% else %>
      <%= link_to 'Login', new_user_session_path, class:'nav-link' %>
    <% end %>
    </li>
  </ul>

  <%#= render "dashboard/card" %>  
</div>
<!-- /#sidebar-wrapper -->
