<!DOCTYPE html>
<html>
  <head>
    <title>WebresStudio | <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissable top-login-bar">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%= value %>
    </div>
  <% end %>  
  <div class="dashboard-principal-container col-xs-12 col-md-12">
    <%= render "layouts/head" %>
    <div id="wrapper">
      <%= render "layouts/content" %>
    </div>
  </div>
  </body>
</html>
